main .form-control {
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main {
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img {
    /* constrain images on small screens */
    max-width: 100%;
}

.offset {
    margin-left:1em;
}

summary {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.1em;
}
.btn {
    margin-top:1em;
    color:white;
}
.btn-delete {
    background-color:#ab0f0f;
    font-size:14px;
}