{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
	<h2>Outstanding tasks</h2>
	<div align='left'>
	
	{% for rows in data %}
		{% if rows|length > 0 %}
            <form action="/" method="POST">
			
            {% if loop.index==0 %}
				<h4>Due today:</h4>
			{% elif loop.index==1 %}
				<h4>Due tomorrow:</h4>
			{% else %}
				<h4>Upcoming:</h4>
			{% endif %}
				
			{% for entry in rows %}
                {% if entry.complete==1 %}
                    <input type="checkbox" id={{ entry.id }} name={{ entry.id }} onchange="this.form.submit()" checked>
                {% else %}
                    <input type="checkbox" id={{ entry.id }} name={{ entry.id }} onchange="this.form.submit()">
                {% endif %}
				<label for={{ entry.id }}> {{ entry.title }}</label><br>
			{% endfor %}
        </form>
        
		{% else %}
			<p>Wow, such empty</p>
		{% endif %}
	{% endfor %}

	</div>
    <br>
	
{% endblock %}
