{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
	<h2>Outstanding tasks</h2>
	<div align='left'>
    <form action="/" method="POST">
	
    {% if data|length > 0 %}
        {% for rows in data %}
            {% if rows|length > 0 %}
                
                {% if loop.index==1 %}
                    <h4>Overdue:</h4>
                {% elif loop.index==2 %}
                    <h4>Due today:</h4>
                {% elif loop.index==3 %}
                    <h4>Due tomorrow:</h4>
                {% elif loop.index==4 %}
                    <h4>Due later this week:</h4>
                {% else %}
                    <h4>Upcoming:</h4>
                {% endif %}
                    
                {% for entry in rows %}
                    {% if entry.complete==1 %}
                        <input type="checkbox" id={{ entry.id }} name={{ entry.id }} onchange="this.form.submit()" checked>
                    {% else %}
                        <input type="checkbox" id={{ entry.id }} name={{ entry.id }} onchange="this.form.submit()">
                    {% endif %}
                    <label for={{ entry.id }}> {{ entry.title }}</label>
                    <a class="examine" href="/examine/{{entry.id}}" title="Edit">✎</a>
                    <br>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
    
    {% if finished|length > 0 %}
        <h4>Complete:</h4>
        {% for entry in finished %}
            <input type="checkbox" id={{ entry.id }} name={{ entry.id }} onchange="this.form.submit()" checked>
            <label for={{ entry.id }}> {{ entry.title }}</label><br>
        {% endfor %}
    {% endif %}
    </form>
	</div>
    
	
{% endblock %}
