{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
	<h2>Outstanding tasks</h2>
	<div align='left'>
	
	{% for rows in data %}
		{% if rows|length > 0 %}
			{% if loop.index==0 %}
				<h4>Due today:</h4>
			{% elif loop.index==1 %}
				<h4>Due tomorrow:</h4>
			{% else %}
				<h4>Upcoming:</h4>
			{% endif %}
				
			{% for entry in rows %}
				<input type="checkbox" id={{ loop.index }}>
				<label for={{ loop.index }}> {{ entry.title }}</label><br>
			{% endfor %}
        
		{% else %}
			<p>Wow, such empty</p>
		{% endif %}
	{% endfor %}

	</div>
    <br>
	
{% endblock %}
